*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gilroy';
    box-sizing: border-box;
}
::selection{
    color: white;
    background-color: black;
}
@font-face {
    font-family: Futura;
    src: url('./Fonts/FuturaNowHeadline.ttf');
}
html,body{
    height: 100%;
}
.section-1{
    min-height: 100vh;
    padding: 0 20px;
    padding-top: 30vh;
}
.section-1 h1 span{
font-family: Futura !important;
display: inline-block;
}
.section-1 h1{
font-family: Futura !important;
font-size: 16vw;
font-weight: 900;
line-height: 177px;
letter-spacing: -4px;
-webkit-text-stroke: 5px black;
}
.video-player{
    height: 650px;
    margin-top: 11vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.intro-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-cursor{
    background-color: black;
    width: 130px;
    font-family: Futura;
    color: white; 
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    font-weight: 900;
    top: 0%;
    left: 0%;
    height: 130px;
    opacity: 0;
    transform: scale(0);
}
.section-2{
    min-height: 100vh;
    padding-top: 20px;
    padding: 0 20px;
}
    .section-2 .category-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
    
.category-container .columns{
    width: 30%;
    height: 100%;
    overflow: hidden;
}
.cat-top{
    padding: 70px 0 10px 0;
}
.cat-top div{
   display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.cat-top div p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.columns img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
}
@media (max-width:786px) {
    .category-container{
        flex-direction: column;
    }
    .category-container .columns{
        width: 100%;
        height: 100vh;
        margin-top: 10px;
    }
    .section-2{
        padding: 0px;
    }
    .section-1{
        min-height: 60vh;
        padding: 0 10px;
        padding-top: 30vh;
    }
    .section-1 h1{
line-height: 70px;
    }
    .video-player{
        height: 200px;
        margin-top: 20px;
    }
    .video-cursor{
        opacity: 1;
        transform: scale(1);
        top: 10px;
       transform: translate(80%,20%);
    }
 
}