*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gilroy';
    box-sizing: border-box;
}
::selection{
    color: white;
    background-color: black;
}
@font-face {
    font-family: Futura;
    src: url('./Fonts/FuturaNowHeadline.ttf');
}
html,body{
    height: 100%;
    background-color: #F7F7F7;
}
.section-1{
    min-height: 100vh;
    padding: 0 20px;
    padding-top: 30vh;
}
.section-1 h1 span{
font-family: Futura !important;
display: inline-block;
}
.section-1 h1{
    font-family: Futura !important;
    font-size: 16vw;
    font-weight: bolder;
    line-height: 214px;
    letter-spacing: 3px;
    -webkit-text-stroke: 15px black;
}
.video-player{
    height: 650px;
    margin-top: 11vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.intro-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-cursor{
    background-color: black;
    width: 130px;
    font-family: Futura;
    color: white; 
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    font-weight: 900;
    top: 0%;
    left: 0%;
    height: 130px;
    opacity: 0;
    transform: scale(0);
}
.section-2{
    min-height: 100vh;
    padding-top: 20px;
    padding: 0 20px;
}
    .section-2 .category-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
    
.category-container .columns{
    width: 30%;
    height: 100%;
    overflow-y: hidden;

    position: relative;
}
.cat-top{
    padding: 70px 0 10px 0;
}
.cat-top div{
   display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.cat-top div p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.columns img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
}

.category-container .category-drop{
    position: absolute;
    z-index: 10;
    top: 0;
    transform: translate(10%,50vh);
    width: 300px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50px;
    transition: 1s linear ;
}
.category-drop:hover{
    height: auto;
 
}
.drop-top{
    display: flex;
    padding: 18px 30px;
    align-items: center;
     justify-content: space-between;
    }  
    .drop-top p{
font-family:Arial, Helvetica, sans-serif;
font-size: 12px; 
           }
.drop-top .dot{
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
}
.drop-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    
}
.drop-cards img{
    height: 100px;
}
.drop-cards p{
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 10px; */
    text-align: center;
    font-size: 10px; 
    padding-top: 20px;
    text-transform: uppercase;
}
.section-4{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.section-4 .product{
    width: 45%;
    margin: 5px;
    min-height: 50vh;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}


.product p:nth-child(1){
padding-top: 20px;
}
.product p{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
padding-top: 10px;
}
.product img{
    width: 80%;
}
 

.product-cursor{
    transform: translate(-50%, -50%) scale(0);
    height: 300px;
    width: 300px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    opacity: 1;
    left: 0%;
}
.section-3{
    min-height: 50vh;
}
.section-3 .row{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 30px 50px 30px;
}
.section-3 .row .col:nth-child(1){
    width: 60%;
    height: 100%;
}
.section-3 .row .col:nth-child(2) {
width: 40%;
padding-top: 50px;
}
.section-3 .row .col:nth-child(2) p{
font-family: Arial, Helvetica, sans-serif;
padding-top: 0px;
font-size: 18px;
margin-right: 150px;
padding-bottom: 30px;
line-height: 30px;
}
.section-3 .row .col h1{
font-size: 50px;
-webkit-text-stroke: 5px black;
font-family: Futura;
font-weight: bolder;
line-height: 60px;
letter-spacing: 5px;
text-transform: uppercase;
padding-right: 70px;
    padding-bottom: 30px;
}   
.shop-now-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 150px;
    overflow: hidden;
    margin-top: 20px;
}
.shop-now-btn:hover .hover-btn{
    transform: translateX(0%);
}


.shop-now-btn .hover-btn{
    width: 350px;
    height: 1px;
    display: inline-flex;
    transform: translateX(-60%);
    transition: all 0.5s linear;
}
.shop-now-btn .hover-btn span:nth-child(2){
    margin-left: 50px;
}

.shop-now-btn .hover-btn span{
width: 50%;
background-color: black;
display: inline-block;
height: 100%;
}
.nav-bar{
    position: fixed !important;
    top: 0%;
    width: 100%;
    z-index: 20;
    padding: 20px 30px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation{
    align-items: self-start;
    display: flex;
}
.nav-links{
    margin: 10px 30px ;
    overflow: hidden;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
}
.icons{
    background-color: #F7F7F7;
    border-radius: 50px;
    padding: 3px
}
.logos{
    height: 85px;
    overflow: hidden;
}
.logos svg{
display:block ;
}
.gsap-marker-scroller-end{
    display: none !important;
}
.gsap-marker-scroller-start{
    display: none !important;
}
.gsap-marker-start{
    display: none !important;
}
.gsap-marker-end{
    display: none !important;
}
.nav-dropdown-menu{
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    color: white !important;
}
.nav-dropdown-menu {
    color: white !important;
    z-index: 100;
    transform: translateY(-100%);
    /* display: none; */
}
.nav-dropdown-menu .icons{
    background-color: black;
    color: white ;
}
.menu-row{
    display: flex;
    align-items: end;
    height: 100%;
    font-family:Futura ;
}
    .sec-1-menus a{
        font-family:Futura ;
    }

    .sec-1-menus{
        display: flex;
        flex-direction: column;
 }
.menu-sec-1{
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}
.sec-1-menus h1{
    font-family: Futura;
    font-size: 15px;
    padding-bottom: 20px;
    color: gray;
}
.sec-1-menus  a{
    font-family: Futura;
    font-size: 15px;
}
.menu-sec-2 .menu-links{
    font-family: Futura;
    transform: translateY(100%);
    font-weight: bolder;
    font-size:56px;
    line-height: 50px;
    padding-top: 10px;
    text-transform: uppercase;
}
.menu-sec-2{
    height: 100%;
    padding-top: 140px;
    display: flex;
    align-items: end;
    flex-direction: column;
    text-align: right;
    width: 30%;
}
.section-5{
    /* min-height: 100vh; */
    width: 100%;
    padding: 30px 10px;
    padding-bottom: 100px;
}
.header-title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.header-title p{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 3px;
    font-size: 12px;
    text-transform: uppercase;
}
.tab-header{
    display: flex;
    margin: 20px 0;
    padding: 20px 10px;
    overflow-x: hidden;
    cursor: pointer;
}
.tab-content{
margin-right: 100px;
} 

.tab-content .radio{
width: 20px;
height: 20px;
border-radius: 50%;
margin: 30px 0;
border: 2px solid black;
}
.active{
    background-color: black;
}
.tab-content h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.tab-inner-content button{
    text-transform: uppercase;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 60px;
    margin-bottom: 20px;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
    border: none;
}
.tab-inner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
#tab-text{
    text-align: center;
    padding: 100px 200px;
    font-size: 72px;
    font-family: Futura;
    font-weight: bolder;
    line-height: 70px;
    transform: translateY(100%);
    opacity: 0;
    -webkit-text-stroke: 3px black;
}
#text-sub {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 31px;
    width: 30%;
}
.section-6{
    min-height: 100vh;
}
.sec-6-row{
    display: flex;
    width: 100%;
    height: 100%;
}
.col-row-1 h1{
    font-family: Futura;
    font-weight: bolder;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
}
.col-row-1 p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 10px;
    line-height: 30px;
}
.col-row-1{
    width: 30%;
    padding: 30px 15px;
}
.col-row-2{
    width: 70%;
    display: flex;
}
.col-row-2 .columns{
width: 50%;
margin: 10px;
overflow-y: hidden;
}

.section-7{
    min-height: 100vh;
    width: 100%;
    padding:0 20px;
}
.email-field{
    width: 100%;
    border-bottom: 1px solid black;
}
.email-field input:focus{
    outline: none;
}
.email-field  input[type="email"]::placeholder {
    color: black;
    font-weight: bolder;
    -webkit-text-stroke: 2px black;
}
.email-field input{
    width: 95%;
    font-family: Futura;
    color: black;
    background-color: transparent;
    padding-top: 50px;
    font-size: 40px;
    border: none;
}
#warning{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: orangered;
    display: none;
    font-size: 20px;
}
.email-field button{
    width: 4%;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size:40px;
    cursor: pointer;
}
.footer{
height: 100vh;
width: 100%;
}
.footer-row{
    display: flex;
    align-items: center;
    padding: 100px 0px;
}
.right-sec{
    width: 20%;

}
.center-sec{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.policies{
    display: flex;
    margin-top: 30px;
}
.policies p{
    margin: 10px 20px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.left-sec{
    width: 20%;
}
.left-sec .sec-1-menus{
    text-align: right;
}
.footer-btm p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 60%;
    text-align: center;
    margin: auto;
}

.footer-btm{
    padding: 30px;
    height: 80%;
    text-align: center;
}
/* Making it Responsive */
@media (max-width:767px) {
    .category-container{
        flex-direction: column;
    }
    .category-container .columns{
        width: 100%;
        height: 100vh;
        margin-top: 10px;
    }
    .section-2{
        padding: 0px;
    }
    .section-1{
        min-height: 60vh;
        padding: 0 10px;
        padding-top: 30vh;
    }
    .menu-row{
        flex-direction: column-reverse;
    }
    .menu-sec-2 .menu-links {
        font-family: Futura;
        transform: translateY(100%);
        font-weight: bolder;
        font-size: 44px;
        line-height: 36px;
        padding-top: 10px;
    }
    .menu-sec-1{
        width: 100%;
    }
    .menu-sec-2{
        width: 100%;
        padding-top: 200px;
    }
    .nav-menu{
        display:none;
    }
    .section-1 h1{
line-height: 70px;
letter-spacing: -1px;
-webkit-text-stroke:5px ;
    }
    .video-player{
        height: 200px;
        margin-top: 20px;
    }
    .video-cursor{
        opacity: 1;
        transform: scale(1);
        top: 10px;
       transform: translate(80%,20%);
    }
    .product-cursor{
        opacity: 0;
        display: none;
    }
    .product p{
        font-size: 12px;
        padding-top: 10px;
    }
    .section-3 .row{
        flex-direction: column;
    }
    .section-3 .row .col:nth-child(1){
        width: 100%;
    }
    .section-3 .row .col h1{
        font-size: 30px;
        padding-right:0px ;
    }
    .section-3 .row .col:nth-child(2){
        width: 100%;
    }
    .section-3 .row .col:nth-child(2) p{
        margin-right: 0;
    }
    .menu-sec-2 .menu-links{
         font-size: 30px;
         line-height: 24px;
    }
    .section-4 .product{
        padding: 0;
    }
    .sec-1-menus h1{
        font-size: 10px;
    }
    .sec-1-menus a{
        font-size: 10px;
    }
    #tab-text{
        padding: 100px 50px;
        line-height: 55px;
        font-size: 30px;
    }
    #text-sub{
        width: 100%;
    }
    .sec-6-row{
        flex-direction: column;
    }
    .col-row-1{
        width: 100%;
    }
    .col-row-2{
        width: 100%;
        margin-top: 20px;
    }
    .header-title p{
        font-size: 10px;
}
.tab-content h1{
    font-size: 25px;
}
.footer-row{
    flex-direction: column;
}
.right-sec{
    width: 100%;
}
.center-sec{
    width: 100%;
    padding: 50px 0px;
}
.policies p{
font-size: 8px;
}
.left-sec .sec-1-menus {
    text-align: left;
}

.left-sec{
    width: 100%;

}
.email-field  input[type="email"]::placeholder {
    color: black;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}
.email-field  input{
    font-size: 13px;
    width: 80%;
}
.email-field button{
    font-size: 20px;
}
.footer-btm p{
    width: 100%;
}
}

